<nav class="navbar navbar-expand-lg bg-danger fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-light" href="#"><b>WeddingLetter</b></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto">
      </ul>
      <div class="d-flex">
        <button class="btn btn-dark" type="submit">Profile</button>
      </div>
    </div>
  </div>
</nav>